* {
  margin: 0;
  padding: 0;
}

/* For JS access */

/* Alert box */
/* .alertbox {
  width: 100px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 50%;
  top: 10rem;
  z-index: 1;
} */
.alertbox {
  width: 300px;
  padding: 24px;
  background-color: white;
  color: #222;
  font-size: 18px;
  font-weight: 500;
  border: none;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  position: fixed;
  left: 50%;
  top: 10rem;
  transform: translateX(-50%);
  z-index: 100;
  text-align: center;
  animation: fadeIn 0.3s ease-out;
}

/* Buttons */
.btn {
  padding: 10px 0;
  background: rgb(31, 31, 31);
  color: white;
  border: none;
  transition: background-color 0.3s ease;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
}

#closeAlertBtn {
  margin-top: 16px;
  padding: 10px 20px;
}

.btn:hover {
  background-color: rgb(78, 78, 78);
}
#closeAlertBtn:hover {
  background-color: rgb(78, 78, 78);
}

/* Todo section */

.todo-form-container {
  /* max-width: 70%; */
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
#todoForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
}
#todoForm input {
  padding: 10px;
}

#todoDifficultyLevel {
  padding: 6px;
}

.app-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 20px;
}

.category-container {
  display: flex;
  flex-direction: column;
  gap: 30px;

  padding: 10px;
  border-radius: 8px;
}

/* Target the first child which is div */
.category-container > div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-container {
  background: #d0caca;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border-radius: 8px;
  cursor: grab;
}

.dragging {
  opacity: 0.5;
}

.dragging-over {
  background-color: rgb(251, 232, 207);
}

#todoContainerBottom {
  display: flex;
  justify-content: space-between;
}

#todoTitle {
  font-weight: bold;
  font-size: 20px;
}
#todoBody {
  font-weight: 300;
  font-size: 15px;
}

#todoContainerBottomLeft {
  display: flex;
  gap: 10px;
}

.deleteTodoIcon {
  transition: background-color 0.3s ease;
  border-radius: 20px;
  cursor: pointer;
}
.deleteTodoIcon:hover {
  background-color: rgb(78, 78, 78);

}

.category-dynamic-container {
  height: 50vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hide {
  display: none;
}

.toggleTodos {
  transition: transform 0.3s ease, background-color 0.3s ease;
  border-radius: 20px;
}
.toggleTodos:hover {
  background: #d0caca;
}

#todoDifficultySpan {
  background-color: rgb(234, 234, 131);
}
/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-50%) translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
}
